<!DOCTYPE suite SYSTEM "http://beust.com/testng/testng-1.0.dtd" >

<suite name="Smoke Tests" thread-count="3">

    <test name="smokeMenuTest" verbose="10" parallel="false">
        <classes>
            <class name="com.epam.testexternalpart.tests.SmokeTest"></class>
       		<class name="com.epam.testexternalpart.tests.DepartmentTest"></class>
        </classes>
    </test>
    
</suite>
