<!DOCTYPE suite SYSTEM "http://beust.com/testng/testng-1.0.dtd" >

<suite name="Smoke Tests" parallel="tests" thread-count="3">
    <test name="smokeMenuTest" verbose="10" parallel="true">
        <classes>
            <class name="com.epam.testexternalpart.tests.SmokeTest">
            </class>
        </classes>
    </test>
    <test name="smokeDepartmentTest" verbose="10" parallel="true">
        <classes>
            <class name="com.epam.testexternalpart.tests.SmokeTest">
              </class>
        </classes>
    </test>

    <test name="smokeProfileViewTest" verbose="10" parallel="true">
        <classes>
            <class name="com.epam.testexternalpart.tests.SmokeTest">
            	</class>
        </classes>
    </test>
    
    <test name="smokeProfileEditTest" verbose="10" parallel="true">
        <classes>
            <class name="com.epam.testexternalpart.tests.SmokeTest">
            	</class>
        </classes>
    </test>
    
    <test name="smokeMenuTest" verbose="10" parallel="true">
        <classes>
            <class name="com.epam.testexternalpart.tests.SmokeTest">
            	</class>
        </classes>
    </test>
</suite>
