<!DOCTYPE suite SYSTEM "http://beust.com/testng/testng-1.0.dtd" >

<suite name="Smoke Tests">
    <test name="Test1" verbose="10" >
        <classes >
           <class name="com.epam.testexternalpart.tests.CopyOfSmokeTest" ></class>
           <class name="com.epam.testexternalpart.tests.SmokeTest" ></class>
       </classes>
    </test>
    <test name="Test2" verbose="10">
        <classes >
            <class name="com.epam.testexternalpart.tests.SmokeTest" ></class>
            <class name="com.epam.testexternalpart.tests.CopyOfSmokeTest" ></class>
      </classes>
    </test>
</suite>
